body {
    background-image: url(./images/about-back.jpeg);
}

#title-box {
    text-align: center;
    color: white;
    margin-block: 50px;
    border-block: 2px solid white;
    padding-block: 20px;
    width: 80%;
    margin-inline: auto;
	/* clear; */
}

#title {
    font-size: 60px;
}
#subtitle {
    font-size: 30px;

}

#contact-container {
    margin: auto;
    width: 400px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
}
#contact-container label {
    font-size: 25px;
    display: inline-block;
    margin-bottom: 5px;
}
#contact-container .input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 8px;
    height: 40px;
    font-family: "Advent-Pro", sans-serif;
    font-size: 18px;
}

.submit-button {
    min-width: 200px;
    margin-inline: auto;
    display: block;
    padding: 10px;
    font-size: 20px;
    margin-top: 75px;
    border-radius: 15px;
    background-color: #36585c;
    color: white;
    border: none;
    transition: background-color 0.2s;
    font-family: "Advent-Pro", sans-serif;
}

.submit-button:hover {
    background-color: #407178;
}
.submit-button:active {
    background-color: #519eac;
}
.submit-button:disabled {
    background-color: #3f3f3f;
    cursor: not-allowed;
}

#we-will-contact-you {
    margin-block: 200px;
    text-align: center;
    font-size: 60px;
    padding-block: 50px;
    border-block: 2px solid white;
    width: 60%;
    margin-inline: auto;
	line-height: normal;
	text-indent: none;
}
