body {
    background-image: url(/images/about-back.jpeg);
}

#title-box {
    font-size: 70px;
    font-style: normal;
    margin-top: 5%;
    padding-block: 30px;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 100px;
    line-height: 1em;
}
/* .about-list {
} */
.about-element {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    margin-block: 30px;
    max-width: 700px;
    margin-inline: auto;
}
.about-title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.about-message {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.41px;
    margin-top: 20px;
}
